@font-face {
    font-display: block;
    font-family: "Montserrat-SemiBold";
    src: url("../public/font/Montserrat/static/Montserrat-SemiBold.ttf");
}

@font-face {
    font-display: block;
    font-family: "Montserrat-Regular";
    src: url("../public/font/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-display: block;
    font-family: "Montserrat-Bold";
    src: url("../public/font/Montserrat/static/Montserrat-Bold.ttf");
}


$extra-large: 1440px;
$large: 1000px;
$pad: 768px;
$phone: 640px;
$small-phone: 320px;
$footer-background: #121212;
$html-background: #F5F5F5;
$grey: #808080;
$main-color: #5C021E;
$header-menu-color: rgba(18, 18, 18, 0.5);
$footer-text-color: #FAFAFA;
$footer-text-color-opacity: rgba(250, 250, 250, 0.5);
$dark-grey: #505050;
$menu-btn-color: #25282B;
$poppis-medium: "Montserrat-SemiBold";
$poppis-light: "Montserrat-Regular";
$font-bold: "Montserrat-Bold";
$default-font: "Montserrat-Regular";

%show-menu {
    animation: showmenu 1s 1;

    @keyframes showmenu {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(0);
        }
    }
}

%hide-menu {
    animation: hidemenu 1s 1 !important;

    @keyframes hidemenu {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-100%);
        }
    }
}

%hover-menu {
    span {
        transition: all .6s ease;
    }

    @media(hover: hover) {
        &:hover {
            span {
                background: $footer-background;
            }

            span:first-child {
                transform: rotate(180deg);
            }

            span:last-child {
                transform: rotate(-180deg);
            }
        }
    }
}

%hover-menu-transparent {
    span {
        transition: all .6s ease;
    }

    @media(hover: hover) {
        span {
            background: $grey !important;
        }

        &:hover {
            span:first-child {
                transform: rotate(180deg);
            }

            span:last-child {
                transform: rotate(-180deg);
            }
        }
    }
}

%hover-close-menu {
    transition: transform .6s ease;

    @media(hover: hover) {
        &:hover {
            transform: rotate(-180deg);
        }
    }
}

%left-text {
    animation: lefttext .7s linear 1;

    @keyframes lefttext {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

%right-text {
    animation: righttext 1s linear 1;

    @keyframes righttext {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

@keyframes showHeader {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}