@import "./styles";


.map_container {
    width: 100%;
    height: 735px;
    padding: 40px 0 160px 0;

    @media(max-width: $extra-large) {
        height: 648px;
        padding: 40px 0 160px 0;
    }

    @media(max-width: $large) {
        height: 436px;
        padding: 28px 0 100px 0;
    }

    @media(max-width: $pad) {
        height: 324px;
        padding: 20px 0 80px 0;
    }

    @media(max-width: $phone) {
        height: 262px;
        padding: 16px 0 50px 0;
    }

    @media(max-width: $small-phone) {
        height: 138px;
        padding: 16px 0 30px 0;
    }
}

.form_container {
    width: 100%;
    padding: 50px 0 160px 0;
    display: flex;
    justify-content: space-between;
    position: relative;

    .scrollId {
        position: absolute;
        z-index: -4;
        visibility: hidden;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        padding-top: 100px;
    }

    .left_block {
        h2 {
            font-size: 64px;
        }

        .left_block_small {
            margin: 24px 0 28px 0;
            color: $dark-grey;
            font-size: 16px;
            line-height: 20px;
        }

        .left_box {
            &:not(:last-child) {
                margin-bottom: 16px;
            }

            .left_box_placeholder {
                margin-bottom: 8px;
                color: $dark-grey;
                font-size: 14px;
                line-height: 17px;
            }

            .left_box_text {
                font-size: 20px;
                line-height: 24px;
                color: $footer-background;
                cursor: pointer;
            }
        }
    }



    .left_block,
    .form_wrap {
        width: 48%;
    }

    @media(max-width: $extra-large) {}

    @media(max-width: $large) {
        flex-direction: column;
        padding: 40px 0 112px 0;
        align-items: center;
        gap: 50px;

        .left_block,
        .form_wrap {
            width: 100%;
        }

        .left_block {
            h2 {
                font-size: 54px;
            }
        }
    }

    @media(max-width: $pad) {
        padding: 20px 0 80px 0;
        gap: 30px;

        .left_block {
            h2 {
                font-size: 36px;
            }

            .left_block_small {
                font-size: 12px;
                line-height: 15px;
                margin: 24px 0 16px 0;
            }

            .left_box {
                display: flex;
                gap: 7px;
                align-items: baseline;

                .left_box_placeholder {
                    font-size: 12px;
                    line-height: 15px;
                    margin: 0;
                }

                .left_box_text {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }

    }

    @media(max-width: $phone) {
        padding: 29px 0 70px 0;

        .left_block {
            h2 {
                font-size: 32px;
            }
        }
    }

    @media(max-width: $small-phone) {
        padding: 24px 0 60px 0;

        .left_block {
            h2 {
                font-size: 18px;
            }
        }
    }
}