@import "./styles";

.footer {
    padding: 32px 0 45px 0;
    width: 100%;

    [class*="container_content_container"] {
        display: flex;
        flex-direction: column;
    }

    .address {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid transparent;
        border-bottom: 1px solid rgba(250, 250, 250, 0.2);
        padding-bottom: 32px;
        gap: 100px;

        @media (max-width: $phone) {
            gap: 40px;
            // flex-direction: column;
        }

        @media (max-width: 576px) {
            flex-direction: column;
        }

        svg {
            width: 177px;
            height: 16px;

            @media (max-width: $extra-large) {
                width: 166px;
                height: 15px;
            }

            // @media (max-width: $phone) {
            //     width: 112px;
            //     height: 11px;
            // }
        }

        .adress_box {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 100px;

            @media (max-width: $extra-large) {
                gap: 50px;
            }

            @media (max-width: $phone) {
                gap: 70px;
            }

            @media (max-width: $small-phone) {
                gap: 25px;
            }

            .adress_container {
                display: flex;
                flex-direction: column;
                gap: 8px;
                max-width: 204px;

                p:first-child {
                    font-size: 16px;
                    font-family: $poppis-medium;

                    @media (max-width: $phone) {
                        font-size: 12px;
                    }
                }

                p:last-child {
                    font-size: 16px;
                    font-weight: 300;

                    @media (max-width: $phone) {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .btn_bottom_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 18px;

        @media (max-width: $large) {
            flex-direction: column;
            gap: 18px;
        }

        nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;

            @media (max-width: $large) {
                gap: 26px;
            }

            @media (max-width: $phone) {
                gap: 18px;
            }

            @media (max-width: 420px) {
                gap: 10px;
            }

            a {
                color: $footer-text-color;
                font-size: 14px;

                @media (max-width: $phone) {
                    font-size: 12px;
                }
            }
        }

        p {
            font-size: 14px;
            line-height: 18px;
            color: $footer-text-color-opacity;

            @media (max-width: $phone) {
                font-size: 12px;
            }
        }
    }
}