@import "./styles";


* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $header-menu-color;
  font-style: normal;
  font-weight: 300;
}

html {
  width: 100%;
  background: $html-background;
  height: 100%;
  font-family: $default-font;

  // -webkit-touch-callout: none;
  // /* iOS Safari */
  // -webkit-user-select: none;
  // /* Chrome/Safari/Opera */
  // -khtml-user-select: none;
  // /* Konqueror */
  // -moz-user-select: none;
  // /* Firefox */
  // -ms-user-select: none;
  // /* Internet Explorer/Edge */
  // user-select: none;
}

html::before {
  content: "";
  position: fixed;
  width: 60px;
  height: 60px;
  background: $footer-background;
  border-radius: 50%;
  top: var(--y, -40px);
  left: var(--x, -40px);
  transform: translate(-50%, -50%);
  z-index: -2;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

[id$="__next"] {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

section {
  width: 100%;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 500;
  transition: all .3s ease;
}

.header_main_active {
  background: $html-background !important;

}

footer {
  width: 100%;
  background: $footer-background;
  color: $html-background;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: $html-background;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $footer-background;
}



.leaflet-control-zoom-out,
.leaflet-control-zoom-in {
  background-color: #232529 !important;
  color: #e2e3e7 !important;
  border: 1px solid #e2e3e7 !important;
  box-sizing: border-box;
}

.leaflet-control-zoom-out {
  border: 1px solid #e2e3e7;
}

.leaflet-control-attribution {
  background-color: #232529 !important;
  color: #e2e3e7 !important;
  border-top-left-radius: 5px;
  display: none;
}

.root-portal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 550;
}

.hide_menu {
  @extend %hide-menu;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}