@import "./styles";

.description_white_text {
    padding-top: 60px;
    font-size: 26px;
    line-height: 32px;
    width: 70%;

    @media(max-width: $extra-large) {
        width: 80%;
    }

    @media(max-width: $large) {
        font-size: 20px;
        line-height: 24px;
        width: 80%;
    }

    @media(max-width: $pad) {
        padding-top: 50px;
        width: 100%;
    }

    @media(max-width: $phone) {
        padding-top: 35px;
        font-size: 18px;
        line-height: 22px;
    }

    @media(max-width: $small-phone) {
        padding-top: 24px;
        font-size: 14px;
        line-height: 17px;
    }
}

.home_what_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: $html-background;
    padding-top: 90px;
    row-gap: 400px;

    @media(max-width: $extra-large) {
        row-gap: 300px;
    }

    @media(max-width: $large) {
        row-gap: 286px;
        padding-top: 60px;
    }

    @media(max-width: $pad) {
        row-gap: 200px;
        padding-top: 48px;
    }

    @media(max-width: $phone) {
        row-gap: 166px;
        padding-top: 40px;
    }

    [dark-dark-style="true"] & {
        color: $footer-background;
    }

    .home_what_box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
        grid-template-rows: 1fr;

        @media(max-width: $extra-large) {
            column-gap: 8%;
        }

        @media(max-width: $large) {
            column-gap: 6%;
        }

        @media(max-width: $pad) {
            column-gap: 4%;
        }

        @media(max-width: $phone) {
            column-gap: 3%;
        }

        @media(max-width: 570px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 30px;
        }

        @media(max-width: 420px) {
            row-gap: 0px;
        }

        .image_container {
            overflow: hidden;
            order: 2;

            img {
                width: 100%;
                height: 420px;
                object-fit: cover;
                cursor: pointer;
                transition: all .3s ease;

                @media(max-width: $extra-large) {
                    height: 369px;
                }

                @media(max-width: $large) {
                    height: 250px;
                }

                @media(max-width: $pad) {
                    height: 246px;
                }

                @media(max-width: $phone) {
                    height: 180px;
                }

                @media(hover: hover) {
                    &:hover {
                        scale: 1.1;
                    }
                }
            }
        }

        .home_what_text {
            display: flex;
            flex-direction: column;
            order: 1;

            .home_what_title {
                font-size: 60px;
                line-height: 73px;

                @media(max-width: $large) {
                    font-size: 40px;
                    line-height: 49px;
                }

                @media(max-width: $pad) {
                    font-size: 28px;
                    line-height: 34px;
                }

                @media(max-width: $phone) {
                    font-size: 24px;
                    line-height: 29px;
                }
            }

            .home_what_description {
                padding: 32px 0 16px 0;
                font-size: 20px;
                line-height: 24px;

                @media(max-width: $large) {
                    padding: 24px 0 16px 0;
                    font-size: 18px;
                    line-height: 22px;
                }

                @media(max-width: $pad) {
                    font-size: 16px;
                    line-height: 20px;
                }

                @media(max-width: $phone) {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }

        .home_what_btn {
            background: transparent;
            border: none;
            color: $html-background;
            display: flex;
            align-items: center;
            gap: 8px;
            width: max-content;

            @media(hover: hover) {
                &:hover {
                    svg {
                        animation: btnhoverHome 2s ease infinite;
                    }
                }
            }

            a,
            p {
                color: $html-background;
                font-family: $poppis-light;

                [dark-dark-style="true"] & {
                    color: $footer-background !important;
                }
            }

            p {
                font-size: 18px;
                line-height: 22px;
                cursor: pointer;

                @media(max-width: $large) {
                    font-size: 16px;
                    line-height: 20px;
                }

                @media(max-width: $pad) {
                    font-size: 14px;
                    line-height: 17px;
                }

                @media(max-width: $phone) {
                    font-size: 12px;
                    line-height: 15px;
                }
            }

            svg {
                path {
                    [dark-dark-style="true"] & {
                        fill: $footer-background !important;
                    }
                }
            }

        }
    }

    .home_what_box:nth-child(even) {
        .image_container {
            order: 1;
        }

        .home_what_text {
            order: 2;
        }
    }

    @media(max-width: 570px) {
        .home_what_box:nth-child(odd) {
            .image_container {
                order: 1;
            }

            .home_what_text {
                order: 2;
            }
        }
    }
}

@keyframes btnhoverHome {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    50% {
        transform: translateX(10px);
        opacity: 0;
    }

    55% {
        transform: translateX(-5px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}