@import "./styles";

.line_container {
    width: 100%;

    p {
        margin-bottom: 8px;
        font-size: 16px;

        [data-dark-line="true"] & {
            color: $html-background;
        }

        @media(max-width: $pad) {
            font-size: 14px;
        }

        @media (max-width: $small-phone) {
            font-size: 12px;
        }
    }

    .line {
        width: 100%;
        padding-top: 1px;
        background: $footer-background;

        [data-dark-line="true"] & {
            background: $html-background;
        }
    }
}