@import "./styles";

.line_container {
    width: 100%;

    p {
        margin-bottom: 8px;
        font-size: 16px;
    }

    .line {
        width: 100%;
        padding-top: 1px;
        background: $footer-background;
    }
}