@import "./styles";

.pictures_box {
    margin-top: 87px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    gap: 10%;

    @media(max-width: $large) {
        gap: 8%;
        margin-top: 67px;
    }

    @media(max-width: $pad) {
        margin-top: 56px;
        gap: 4%;
    }

    @media(max-width: $phone) {
        margin-top: 24px;
        gap: 2%;
    }

    @media(max-width: 586px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 24px;
    }

    .pictures_card {
        cursor: pointer;
        transition: all .4s ease;
        padding: 20px;

        @media(hover: hover) {
            &:hover {
                scale: 1.1;
                background: $main-color;

                .box_image {
                    overflow: auto;
                }
            }
        }

        @media (max-width: $phone) {
            padding: 15px;
        }

        .box_image {
            overflow: hidden;
            width: 100%;

            img {
                transition: all .4s ease;
                width: 100%;
                height: auto;

            }
        }

        p {
            color: $html-background;
        }

        .name {
            font-size: 26px;
            font-family: $poppis-medium;
            margin-top: 16px;

            @media(max-width: $large) {
                font-size: 24px;
            }

            @media(max-width: $pad) {
                font-size: 18px;
            }

            @media(max-width: $phone) {
                font-size: 16px;
            }
        }

        .pro {
            font-size: 18px;
            margin-top: 8px;

            @media(max-width: $large) {
                font-size: 16px;
            }

            @media(max-width: $pad) {
                font-size: 14px;
                margin-top: 4px;
            }

            @media(max-width: $phone) {
                font-size: 12px;
            }
        }
    }
}